* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: ubuntu;
}

.container {
    width: 95%;
    margin: auto;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 50px auto;
}

.top button {
    margin: auto 0px;
}

button {
    padding: 0 20px;
    height: 50px;
    color: white;
    background-color: gray;
    border: 0;
    border-radius: 10px;
}

.middle {
    text-align: center;
}

.middle h2 {
    margin-bottom: 80px;
    font-size: 2.5rem;
}

.seperater {
    position: relative;
    margin-bottom: 200px;
}

.guess {
    position: absolute;
    top: 28%;
    width: 100%;
    padding: auto;
}

.guess p {
    width: 60px;
    margin: auto;
    padding: 40px 60px;
    text-align: center;
    background-color: gray;
    font-size: 2rem;
    border-radius: 25px;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.bottomLeft {
    font-size: 2rem;
}

.bottomLeft p {
    margin-bottom: 20px;
}

.bottomRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom input {
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border: solid gray;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}